@import './_base/reset';
@import './_base/_fonts';
@import './_base/_variables';
@import './_utils/_typography';

form {
	position: absolute;
	height:400px;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow:0 2px 20px 5px rgba(255, 255, 255, 0.45);
	left: 100px;
	right:100px;
	top: calc(50% - 200px);
}