// ==========================================================================
// Typography
// ==========================================================================
// @import '../base/fonts';

/*  */

// html,
// body {
//     font-family: $font-family-base;
//     font-weight: normal;
//     font-size: 10px;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

strong {
    font-weight: normal;
}

.bold {
    font-family: $font-family-bold;
    font-weight: normal;
}

.semi-bold {
    font-family: $font-family-semi-bold;
    font-weight: normal;
}

.text-ellipsis {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-left {
    text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
    text-align: right;
}

.text-default {
    color: $gray-dark;
}

.text-primary {
    color: $brand-primary;
}

.text-info {
    color: $brand-info;
}

.text-success {
    color: $brand-success;
}

.text-warning {
    color: $brand-warning;
}

.text-danger {
    color: $brand-danger;
}

.text-error {
    color: $brand-error;
}

.text-white {
    color: $white;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}