// ==========================================================================
// Clearfix
// ==========================================================================

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ==========================================================================
// Usage
// .text-truncate {
//   @include text-truncate;
// }
// ==========================================================================